// ## Colors

// ### Primary

$desaturatedDarkCyan: hsl(180, 29%, 50%);

// ### Neutral

// background
$lightGrayishCyan: hsl(180, 52%, 96%);
// filter tablets
$lightGrayishCyan: hsl(180, 31%, 95%);

$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:$lightGrayishCyan;
    .image{
        background:url('./background/bg-header-desktop.svg') no-repeat;
        background-size:100vw 160px;
        background-color:$desaturatedDarkCyan;
        height:160px;
        width:100vw;
    }
}

@media only screen and (max-width:768px){
    body{
        .image{
            background:url('./background/bg-header-mobile.svg') no-repeat;
            background-size:100%;
            height:155px;
            background-color:$desaturatedDarkCyan;
        }
    }
}

@media only screen and (max-width:375px){
    body{
        .image{
            background:url('./background/bg-header-mobile.svg') no-repeat;
            background-size:100%;
            height:155px;
            background-color:$desaturatedDarkCyan;
        }
    }
}



@import './Card';
@import './filter';



